<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-library</title>
    <link rel="stylesheet" href="css/landing.css">
</head>




<div class="intro">
    <h1>WELCOME TO YOUR E-LIBRARY</h1>
    <p>"A library is not a luxury but one of the necessities of life."
    </p>
   
</div>

<div class="loginlink">
    <a href="/libraryHome" class="startButton">Get Started</a>
</div>
    <h3>These are some feature.</h3>
</div>
<div class="features">
    
<div class="feature">
    <h2>Totally free</h2>
    <p>You can search by title, author, released date</p>
 </div>
 <div class="feature">
    <h2>Search Easily</h2>
    <p>You can search by title, author, released date</p>
 </div>

 <div class="feature">
    <h2>Category</h2>
    <p>You can search by title, author, released date</p>
 </div>

 <footer>
    <p>footer</p>
    <p><a href="something.html">something</a></p>
  </footer>


</div>