<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-library</title>
    <link rel="stylesheet" href="soul.css">
</head>
<body>

<header>
   E-library 
</header>
    <nav class="navbar">
        <div class="nav-links">
            <a href="home.html">Home</a>
            <a href="Fiction.html">Fiction</a>
            <a href="#">Non-Fiction</a>
            <a href="#">Science</a>
            <a href="#">Programming</a>
            <a href="upload.html">Upload</a>
        </div>
    </nav>
    <div class="book-card">
        <div>
            <img src="bookcover.jpg" class="book-cover">
        </div >
        <div class="book-details">
        <div class="book-title">Soul</div>
        <div class="book-author">by Olivia Wilson</div>
    </div>
</div>
    <div class="file">pdf file</div>

<div class="comment">comment....</div>

<div class="about-book">
    <h1>About book</h1>
    <table>
        <tr>
          <td>Title</th>
          <td>Soul</th>
        </tr>
        <tr>
          <td>Author</td>
          <td>Olivia Wilson</td>
        </tr>
        <tr>
          <td>Released date</td>
          <td>30-10-2024</td>
        </tr>
        <tr>
            <td>Categories</th>
            <td>Fiction</th>
          </tr>
          <tr>
            <td>Language</th>
            <td>English</th>
          </tr>
      </table>
</div>

<div class="similae-books">
    <h2>Similar books</h2>
    <div class="container">
        <div class="card">
            <img src="bookcover.jpg" class="cover">
            <div class="title">Soul</div>
            <div class="author">by Olivia Wilson</div>
            <div class="releasedDate">released date (2-8-2024)</div>
        </div>
        <div class="card">
            <img src="bookcover.jpg" class="cover">
            <div class="title">Soul</div>
            <div class="author">by Olivia Wilson</div>
            <div class="releasedDate">released date (2-8-2024)</div>
        </div>
        <div class="card">
            <img src="bookcover.jpg" class="cover">
            <div class="title">Soul</div>
            <div class="author">by Olivia Wilson</div>
            <div class="releasedDate">released date (2-8-2024)</div>
        </div>
        
    </div>
</div>
<footer>
    <p>footer</p>
    <p><a href="something.html">something</a></p>
  </footer>

</body>
</html>