

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-library</title>
    <link rel="stylesheet" href="upload.css">
   
</head>
<header>
    E-library 
 </header>
 <nav class="navbar">
    <div class="nav-links">
        <a href="home.html">Home</a>
        <a href="Fiction.html">Fiction</a>
        <a href="#">Non-Fiction</a>
        <a href="#">Science</a>
        <a href="#">Programming</a>
        <a href="upload.html">Upload</a>
    </div>
</nav>
<body>
    <div class="form-container">
        <h2>Upload a Book</h2>
        <form action="/upload" method="POST" >
            <div class="form-group">
                <label for="name">Book Name:</label>
                <input type="text" id="name" >
            </div>

            <div class="form-group">
                <label for="author">Author:</label>
                <input type="text" id="author" >
            </div>

            <div class="form-group">
                <label for="category">Category:</label>
                <input type="text" id="category" >
            </div>

            <div class="form-group">
                <label for="releasedDate">Release Date:</label>
                <input type="date" id="releasedDate" >
            </div>

            <div class="form-group">
                <label for="language">Language:</label>
                <input type="date" id="language" >
            </div>

            <div class="form-group">
                <label for="image">Cover Photo:</label>
                <input type="file" id="image" >
            </div>

            <div class="form-group">
                <label for="bookFile">PDF File:</label>
                <input type="file" id="bookFile" name="bookFile" accept="application/pdf" >
            </div>

            <div class="form-group">
                <button type="submit">Upload Book</button>
            </div>
        </form>
    </div>
        
 </div>
</body>

 <footer>
    <p>footer</p>
    <p><a href="something.html">something</a></p>
  </footer>
</body>
</html>